<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 centralizar topo">

            <div class="card">
                <div class="card-body">

                    <div class="card">
                        <div class="card-body">
                            <h3>Cadastrar:</h3>
                            <br>
                            <mdb-form-control>
                                <input mdbInput type="text" id="usuario" class="form-control"
                                    [(ngModel)]="carro.nome" />
                                <label mdbLabel class="form-label" for="form12">Nome:</label>
                            </mdb-form-control>
                            <br>
                            <div>
                                @if (carro.marca) {
                                    <div>
                                        <span class="text-primary">Marca: {{carro.marca.nome}}</span>
                                        <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init (click)="save()">
                                            Trocar Marca
                                        </button>
                                    </div>
                                } @else {
                                    <div>
                                        <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init (click)="buscarMarca()">
                                            Buscar Marca
                                        </button>
                                    </div>
                                }
                            </div>
                            <br>
                            <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init (click)="save()">
                                Salvar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Abre a modal dentro do marca details-->
    <ng-template #modalMarcas>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
         <app-marcaslist> </app-marcaslist> <!-- Event Binding - pega o retorno do @Output - objetica trazer qual merca selecionada pelo usuário na tabela-->
    </div>
    </ng-template>
