/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar {
    text-align: center;
}

.direita {
    text-align: right;
}
.direita-centralizada {
    text-align: right;
    text-align: center;
}

body{
    background-color: rgb(221, 219, 216);
}
